.primary-nav {
  @mixin atMedium {
    &__pull-right {
      float: right;
    }
  }
  ul {
    margin-top: 10px;
    padding: 0;
    @mixin atMedium {
      margin: 0;
    }
  }
  li {
    list-style: none;
    display: inline-block;
    @mixin atMedium {
      float: left;
    }
    padding-right: 10px;
    @mixin atMedium {
      padding-right: 20px;
    }
  }
  li:last-child {
    padding-right: 0;
    @mixin atMedium {
      padding-right: 20px;
    }
  }
  a {
    color: $white;
    font-weight: 300;
    display: block;
    padding: 8px 5px;
    background-color: rgba(47, 48, 114, 0.3);
    transition: all 0.3s ease-out;

    @mixin atMedium {
      background-color: transparent;
    }
    &.is-active {
      color: $mainOrange;
    }
  }
  a:hover {
    background-color: $mainBlue;
  }
}
